@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,700;1,900&display=swap');

body {
font-family: 'Merriweather', serif;
}

:root {
    --primary-color: #D97706;
    --text-color: #F9FAFB;
    --bg-color: #FEF3C7;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 2rem;
    text-align: center;
}

section{ 
    padding: 1rem;
    margin: auto;
    background-color: var(--bg-color);
    text-align: center;
}

textarea{
    display: block;
    width: 80%;
    margin: 1rem auto;
    min-height: 15vh;
    padding-bottom: 0.5rem;
}
 
button{
    border-radius: 0.5rem;
    border-color: var(--primary-color);
    color: var(--primary-color);
    padding: 0.5rem;
    display: block;
    margin: 1rem auto;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
}