@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,700;1,900&display=swap');

<body>
font-family: 'Merriweather', serif;
</body>

:root {
    --primary-color: #92400E;
    --text-color: #F9FAFB;

}

.header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 2rem;
    margin: auto;
}

.section{ 
    padding: 2rem;
    margin: auto;
}